<div class="page-container">
  <h1 class="page-title">Reimbursement Admin Dashboard</h1>

  <!-- =======================
     SUMMARY CARDS
======================= -->
  <div class="dashboard-cards">

  <div class="card total"
       (click)="applyFilter('all')"
       tabindex="0">
    <h3>Total Claims</h3>
    <p>{{ Claims.length }}</p>
  </div>

  <div class="card pending"
       (click)="applyFilter('pending')"
       tabindex="0">
    <h3>Pending Claims</h3>
    <p>{{ getCount('pending') }}</p>
  </div>

  <div class="card approved"
       (click)="applyFilter('Approved')"
       tabindex="0">
    <h3>Approved Claims</h3>
    <p>{{ getCount('Approved') }}</p>
  </div>

  <div class="card rejected"
       (click)="applyFilter('Rejected')"
       tabindex="0">
    <h3>Rejected Claims</h3>
    <p>{{ getCount('Rejected') }}</p>
  </div>

</div>


  <!-- =======================
     SEARCH
======================= -->
   <div class="toolbar">
    <input type="text" placeholder="Search by Emp Code / Name" [(ngModel)]="searchText" class="search-box" (ngModelChange)="filterClaims()"/>
  </div>

  <!-- =======================
     PENDING
======================= -->
  <h2 class="section-title "> Claims</h2>

  <clr-datagrid >

    <clr-dg-column>Emp Code</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Type</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>
    <clr-dg-column>Amount</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of filteredClaims" (click)="goToClaimView(item.recentClaimId!)"
      class="row"  >

      <clr-dg-cell  >{{ item.empCode }}</clr-dg-cell>
      <clr-dg-cell>{{ item.name }}</clr-dg-cell>
      <clr-dg-cell>{{ item.type }}</clr-dg-cell>
      <clr-dg-cell>{{ item.date | date:'mediumDate' }}</clr-dg-cell>
      <clr-dg-cell>₹{{ item.amount }}</clr-dg-cell>
       
    </clr-dg-row>
  </clr-datagrid>

  <!-- =======================
     APPROVED
======================= -->
  
</div>

<div class="backbtn">
<button class="btn btn-info" (click)="backbtn()">back  </button>
</div>