<div class="main-container">
  <div *ngIf="isLoading" class="spinner-container">
    <clr-spinner clrLarge>Loading...</clr-spinner>
  </div>
  <div class="content-container" [ngClass]="{ 'blur': isLoading }">
    <div class="content-container">
      <!-- <clr-vertical-nav [clrVerticalNavCollapsible]="true">
        <a clrVerticalNavLink (click)="resetFilters()">All Claims</a>
        <clr-vertical-nav-group routerLinkActive="active">
          <a routerLink="#" hidden aria-hidden="true"></a>

          Expense
          <clr-vertical-nav-group-children *clrIfExpanded="true">
            <a clrVerticalNavLink routerLinkActive="active" (click)="goToPersonalDetails('DomesticTravels')">New
              Expense</a>
            <a clrVerticalNavLink (click)="filterByType('Expense')">Expense claim</a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <clr-vertical-nav-group routerLinkActive="active">
          <a routerLink="#" hidden aria-hidden="true"></a>

          International
          <clr-vertical-nav-group-children *clrIfExpanded>
            <a clrVerticalNavLink (click)="goToPersonalDetails('InternationalTravels')">New International</a>
            <a clrVerticalNavLink (click)="filterByType('InternationalTravels')">International claims</a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <clr-vertical-nav-group routerLinkActive="active">
          <a routerLink="#" hidden aria-hidden="true"></a>

          Domestic
          <clr-vertical-nav-group-children *clrIfExpanded>
            <a clrVerticalNavLink (click)="goToPersonalDetails('DomesticTravels')">New Domestic</a>
            <a clrVerticalNavLink (click)="filterByType('DomesticTravels')">Domestic Claims</a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <a clrVerticalNavLink routerLink="/dashboard" (click)="godash()" routerLinkActive="active">

          Dashboard
        </a>

        <a clrVerticalNavLink *ngIf="isadmin()" (click)="goadmin()" routerLinkActive="active">
          ReimburseMentStatus
        </a>
      </clr-vertical-nav>  -->

      <div class="content-area">

        <h3>Welcome {{User.username}}!</h3>
        <div class="header1">
          <h1>Expense reimbursement claim form </h1>
        </div>



        <div class="custom-buttons">
          <button class="custom-btn" (click)="goToPersonalDetails('Expense')">
            New Expense Claim
          </button>

          <button class="custom-btn" (click)="goToPersonalDetails('InternationalTravels')">
            New International Travels Claim
          </button>

          <button class="custom-btn" (click)="goToPersonalDetails('DomesticTravels')">
            New Domestic Travels Claim
          </button>
        </div>


        <clr-modal [(clrModalOpen)]="showPersonalModal" [clrModalSize]="'md'" ,
          (clrModalOpenChange)="resetPersonalForm()">
          <h3 class="modal-title">Personal Details</h3>

          <div class="modal-body">
            <form clrForm [formGroup]="personalForm" class="personal-card-form">

              <div class="grid-two">
                <clr-input-container>
                  <label>Date of Submission</label>
                  <input clrInput [value]="User.today" readonly />
                </clr-input-container>

                <clr-input-container>
                  <label>Expense statement of Mr/Ms</label>
                  <input clrInput [value]="User.username" readonly />
                </clr-input-container>
              </div>

              <div class="grid-two">
                <clr-input-container>
                  <label>Employee Code</label>
                  <input clrInput [value]="User.employeeCode" readonly />
                </clr-input-container>

                <clr-input-container>
                  <label>Purpose & Place</label>

                  <input clrInput formControlName="purposePlace" />

                  <clr-control-error *ngIf="personalForm.get('purposePlace')?.invalid 
              && personalForm.get('purposePlace')?.touched">
                    Purpose & Place is required
                  </clr-control-error>
                </clr-input-container>
              </div>

              <div class="grid-two">
                <clr-input-container>
                  <label>Company</label>
                  <input clrInput [value]="User.companyPlant" readonly />
                </clr-input-container>

                <clr-input-container>
                  <label>Cost Center</label>
                  <input clrInput [value]="User.costCenter" readonly />
                </clr-input-container>
              </div>

              <clr-input-container>
                <label>Vendor Code</label>
                <input clrInput [value]="User.vendorCost" readonly />
              </clr-input-container>

              <div class="divider"></div>

              <div class="actions">
                <button class="btn outline-danger" type="button" (click)="resetPersonalForm()">Reset</button>

                <button class="btn btn-primary" [disabled]="personalForm.invalid" (click)="onPersonalNext()">
                  Next
                </button>
              </div>

            </form>
          </div>
        </clr-modal>



        <div class="datagriid">
          <clr-datagrid>


            <clr-dg-column>Type</clr-dg-column>
            <clr-dg-column>Created Date</clr-dg-column>
            <clr-dg-column>Purpose & Place</clr-dg-column>
            <clr-dg-column>Reimbursed Amount</clr-dg-column>
            <clr-dg-column>Status</clr-dg-column>
            <clr-dg-column>Reimbursement</clr-dg-column>


            <clr-dg-row *clrDgItems="let item of dataSource" (click)="goToClaimView(item.recentClaimId!)"
              style="cursor:pointer">

              <clr-dg-cell>{{ item.type }}</clr-dg-cell>
              <clr-dg-cell>{{ item.date | date:'mediumDate' }}</clr-dg-cell>
              <clr-dg-cell>{{ item.purpose }}</clr-dg-cell>
              <clr-dg-cell> ₹{{ getRoundedAmount(item?.amount) }}</clr-dg-cell>
              <clr-dg-cell>
                <span [ngClass]="getStatusClass(item.status)" class="status-badge">
                  {{ item.status }}
                </span>
              </clr-dg-cell>
              <clr-dg-cell>
                <span class="status-text" [ngClass]="(item?.amount ?? 0) < 0 ? 'recoverable' : 'payable'">

                  {{ (item?.amount ?? 0) < 0 ? 'Amount Recover from Employee' : 'Amount Payable to Employee' }} </span>
              </clr-dg-cell>


            </clr-dg-row>

            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
                  claims per page
                </clr-dg-page-size>
                {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
                {{ pagination.totalItems }} claim
              </clr-dg-pagination>
            </clr-dg-footer>

          </clr-datagrid>
        </div>


      </div>
    </div>